//Include scripts from bower here.
//bower install <package> installs to ./server/components

script(src="/components/jquery/dist/jquery.min.js")
script(src="/components/lodash/dist/lodash.min.js")
script(src="/components/moment/min/moment.min.js")