doctype html
html(lang="en")
  head
    title= title
    each style in styles
      link(rel="stylesheet", type="text/css", href="/assets/css/" + style)
  body
    include body
    include bower_scripts
    each script in scripts
      script(src="/assets/js/" + script)